.table-container {
  border: 1px solid #475569;
  background-color: #1e1e30;
  border-radius: 10px;
  width: 1300px;
}
.table-headers-container {
  display: flex;
  justify-content: space-between;
}
.order-icons-container {
  display: flex;
  align-items: center;
}
.order-icons {
  color: #94a3b8;
  margin-right: 10px;
}
.table-header {
  color: #f8fafc;
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
.states-container {
  border-top: 1px solid #475569;
  margin-top: 0px;
}
.sort-buttons {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}
