.counter-list-container {
  list-style-type: none;
  margin: 20px;
  width: 200px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .counter-list-container {
    margin: 5px;
    width: 100px;
  }
}

.counts-name {
  color: #94a3b8;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .counts-name {
    font-size: 8px;
  }
}
.count {
  color: #94a3b8;
  font-size: 24px;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .count {
    font-size: 12px;
  }
}
